.container {
    margin-top: 56px;
    padding: 44px;
    width: 641px;
    height: 588px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
}

.title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
}

.text {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--gray);
}

.title,
.text {
    padding-left: 13px;
    padding-right: 13px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input,
.comment {
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 18px;
    width: 527px;
    background-color: var(--inputs);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--gray);
}

.input {
    height: 60px;
    margin-bottom: 14px;
}

.comment {
    height: 118px;
    margin-bottom: 24px;
    resize: none;
}

.input:focus,
.comment:focus,
.input:valid,
.comment:valid {
    color: var(--main);
    background-color: var(--inputs);
}

.error {
    align-self: flex-start;
    margin-bottom: 14px;
    padding-left: 13px;
    font-size: 12px;
    color: var(--button-hover);
}