.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 44px 52px;
    margin-top: 56px;
    width: 631px;
    height: 588px;
    background: var(--inputs);
}

.title {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--gray-light);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
}

.params {
    margin-top: 24px;
}

.item {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
    text-transform: capitalize;
}

.item:not(:last-child) {
    margin-bottom: 16px;
}