.ratingWrap {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.ratingWrap>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
    fill: var(--main);
}

.rating {
    border-bottom: 1px solid var(--main);
}

.icon {
    margin-right: 4px;
}

.title,
.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: var(--main);
}

.title {
    margin-bottom: 8px;
}

.price {
    margin-bottom: 28px;
}

.imgList {
    display: flex;
    gap: 48px;
    margin-bottom: 28px;
}

.imgItem img {
    border-radius: 10px;
    width: 292px;
    height: 312px;
}

.descr {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
}